DISCORD_TOKEN=YourDiscordAuthenticationToken
DISCORD_GUILD=YourDiscordServerID
DISCORD_PREFIX=!
DISCORD_MONITOR=channel_id_to_watch
DISCORD_CONTROL=channel_id_for_controlling_bot
TWITCH_CLIENTID=YourTwitchClientIDToken
TWITCH_SECRET=YourTwitchOauthBearerToken
CHANNELS=channel_SQLite_db_file
WATCH_LENGTH=20
